{#
/**
 * @file
 * Block - Search.
 */
#}
<div class="block text-center block-adgroup">

    <div class="hidden-sm-up">
        <img  alt="250 by 85px advertisment" src="http://placehold.it/250x85" class="ad" />
    </div>
    <div class="hidden-md-up hidden-xs-down">
        <img  alt="180 by 150px advertisment" src="http://placehold.it/180x150" class="ad" />
    </div>
    <div class="hidden-lg-up hidden-sm-down">
        <img  alt="250 by 85px advertisment" src="http://placehold.it/250x85" class="ad" />
    </div>
    <div class="hidden-xl-up hidden-md-down">
        <img  alt="160 by 600px advertisment" src="http://placehold.it/160x600" class="ad" />
    </div>
    <div class="hidden-lg-down">
        <img  alt="300 by 600px advertisment" src="http://placehold.it/300x600" class="ad" />
    </div>

    <span class="adgroup-title small">advertisement</span>

</div>
