<div class="callouts-region callouts-region-white region-textureback region">
    <div class="container">
        <div class="row">
            <div class="col-md-4 push-md-8"></div>
            <div class="col-md-8 pull-md-4">
                <div class="text-left jumbotron">
                    <h3>100 years of Archival Photos and Articles</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique scelerisque nulla sit amet congue.</p>
                    <p><a href="#" class="btn btn-primary">Join Now</a> <a href="#" class="btn btn--alt">View the Archives</a></p>
                </div>
            </div>
        </div>
    </div>
</div>