<div class="callouts-region region-textureback region">
    <div class="container">
        <div class="row">
            <div class="col-md-4 text-center">

            </div>
            <div class="col-md-8">
                <div class="text-left jumbotron">
                    <h3>Save 20% in the Store</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique scelerisque nulla sit amet congue.</p>
                    <p><a href="#" class="btn btn-primary">Join Now</a> <a href="#" class="btn btn--alt">View the Store</a></p>
                </div>
            </div>
        </div>
    </div>
</div>