<div class="card card-article">
    <div class="card-header">
        <h4>Author Events</h4>
    </div>

    <div class="card card-event card-event-small">
        <div class="card-block">
            <div class="card-datebox">
                <span class="day">24</span>
                <span class="month">May</span>
            </div>
            <h6 class="card-title">Featured Panelist & Book Signing</h6>
            <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>
        </div>
    </div>
    <div class="card card-event card-event-small">
        <div class="card-block">
            <div class="card-datebox">
                <span class="day">24</span>
                <span class="month">May</span>
            </div>
            <h6 class="card-title">Featured Panelist & Book Signing</h6>
            <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>
        </div>
    </div>
    <div class="card card-event card-event-small">
        <div class="card-block">
            <div class="card-datebox">
                <span class="day">24</span>
                <span class="month">May</span>
            </div>
            <h6 class="card-title">Featured Panelist & Book Signing</h6>
            <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>
        </div>
    </div>
    <div class="card card-event card-event-small">
        <a class="btn btn--alt" style="width:100%;" href="#">View All</a>
    </div>






</div>