{#
/**
 * @file
 * page - Basic Page.
 */
#}


<body id="proceedings">

<header class="header container-fluid test" role="banner">
    <section class="region-header">
        <div class="row header-top">
            <div class="col-xs-12">


                <aside class="branding branding-small">
                    <div class="branding__site-logo">
                        <a href="#" title="Home" rel="home">
                            <img src="../../../../logo.png" alt="Home" />
                        </a>
                    </div>
                </aside>



                <ul class="nav-pills menu nav foundation-nav-secondary">
                    <li class="menu-item small nav-item"><a href="#" class="nav-link">Donate</a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Cart</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-user" aria-hidden="true"></i><span> Join or Login</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-search" aria-hidden="true"></i><span> Search</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row header-bottom">
            <div class="col-xs-12">

                <span class="primary-menu-toggle menu-mobile-icon">Site Menu</span>

                <div class="primary-menu-container">

                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Books & Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link is-active">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>

                    <a class="primary-menu-toggle btn btn-secondary btn-lg btn-block">Close</a>
                </div>
                <div class="inpage-menu-container">
                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Books & Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link is-active">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</header>



<div  class="featured-region">
    <div class="container featured-region-content">
        <div class="row">
            <div class="col-md-12">
                <div class="row"><div class="col-xs-12 col-md-8 no-spacing">
                        <div class="card card-article card-featured">

                            <a href="#" class="card-link divclick">





                                <div class="card-block card-block-image-background" style="background: url('../../../../img/fullimage1.jpg') no-repeat center; background-size: cover">


                                    <span class="card-category-block">Cover</span>


                                    <h4 class="card-title">
                                        Article Title That is longer than the rest for testing
                                    </h4>


                                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>




                                    <div class="card-author ">
                                        Cpt. John Doe
                                    </div>

                                    <div class="card-date ">
                                        October 2016
                                    </div>

                                    <div class="card-category small">
                                        Naval Fleets
                                    </div>
                                </div>


                            </a>

                        </div>



                    </div>
                    <div class="col-xs-12 col-md-4 no-spacing">
                        <div class="row no-spacing">
                            <div class="col-xs-12 col-sm-6 col-md-12 no-spacing">
                                <div class="card card-article">

                                    <a href="#" class="card-link divclick">





                                        <div class="card-block card-block-image-background" style="background: url('../../../../img/fullimage1.jpg') no-repeat center; background-size: cover">


                                            <span class="card-category-block">Feature</span>


                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="col-xs-12 col-sm-6 col-md-12 no-spacing">
                                <div class="card card-article">

                                    <a href="#" class="card-link divclick">





                                        <div class="card-block card-block-image-background" style="background: url('../../../../img/fullimage1.jpg') no-repeat center; background-size: cover">


                                            <span class="card-category-block">Feature</span>


                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>




                                    </a>

                                </div>



                            </div>
                        </div>
                    </div>

                </div><div class="site-menu-row hidden-menu">

                    <div class="site-menu-row-toggle">Site Menu</div>

                    <ul  class="nav nav-tabs nav-justified site-menu-tabs">
                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link is-active">Current Issue</a>
                        </li>
                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link">Popular Content</a>
                        </li>
                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link">Essay Contests</a>
                        </li>
                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link">Magazine Archive</a>
                        </li>
                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link">For the Media</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="body-container-region">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 body-region region">
                <div class="block text-center block-adgroup">

                    <div class="hidden-sm-up">
                        <img alt="250 by 85px advertisment" src="http://placehold.it/250x85" class="ad">
                    </div>
                    <div class="hidden-md-up hidden-xs-down">
                        <img alt="728 by 80px advertisment" src="http://placehold.it/728x80" class="ad">
                    </div>
                    <div class="hidden-lg-up hidden-sm-down">
                        <img alt="970 by 90px advertisment" src="http://placehold.it/970x90" class="ad">
                    </div>
                    <div class="hidden-md-down">
                        <img alt="1280 by 90px advertisment" src="http://placehold.it/1280x90" class="ad">
                    </div>




                    <span class="adgroup-title small">advertisment</span>

                </div>

                <div class="row subregion">
                    <div class="col-xs-12">
                        <h3 class="block-title text-md-center">More Top Stories</h3>
                        <div  class="grid-1x2x4 grid-hide-small">

                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg" />
                                        <span class="card-category-block covered">NAMB</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg" />
                                        <span class="card-category-block covered">Archive</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg" />
                                        <span class="card-category-block covered">Prof Notes</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg" />
                                        <span class="card-category-block covered">Feature</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg" />
                                        <span class="card-category-block covered">Editorial</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg" />
                                        <span class="card-category-block covered">Dispatch</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg" />
                                        <span class="card-category-block covered">Feature</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg" />
                                        <span class="card-category-block covered">Feature</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>
</div>



<div class="callouts-region region-imageback region">
    <div class="container">
        <div class="row">

            <div class="col-md-6 text-center text-md-left">
                <div>
                    <h2>Your Membership gives voice to those who dare to speak</h2>
                    <p>Become a member and gain instant access to all Digital Issues of Proceedings Magazine.</p>
                    <p><a href="#" class="btn btn-primary">Become a Member</a> or <a href="#" class="btn btn-primary">Login now</a></p>

                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
    </div>
</div>



<div class="body-container-region">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 body-region region">


                <div class="row subregion">

                    <div class="col-xs-12">

                        <h3 class="block-title text-md-center">Columns</h3>
                        <div  class="grid-1x2x2">

                            <div class="grid-item">
                                <div class="card card-article">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg" />
                                        <span class="card-category-block covered">Comments</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>


                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>




                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                            <div class="card-category small">
                                                Naval Fleets
                                            </div>
                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg" />
                                        <span class="card-category-block covered">Column Title</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>


                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>




                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                            <div class="card-category small">
                                                Naval Fleets
                                            </div>
                                        </div>


                                    </a>

                                </div>



                            </div>

                        </div>
                    </div>
                </div>
                <div class="row subregion">
                    <div class="col-xs-12">
                        <h3 class="block-title text-md-center">Magazine Section</h3>
                        <div  class="grid-1x2x3">

                            <div class="grid-item">
                                <div class="card card-article">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg" />
                                        <span class="card-category-block covered">Feature</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>


                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>




                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                            <div class="card-category small">
                                                Naval Fleets
                                            </div>
                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg" />
                                        <span class="card-category-block covered">Feature</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>


                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>




                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                            <div class="card-category small">
                                                Naval Fleets
                                            </div>
                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="block text-center block-adgroup">

                                    <div class="hidden-sm-up">
                                        <img  alt="250 by 85px advertisment" src="http://placehold.it/250x85" class="ad" />
                                    </div>
                                    <div class="hidden-md-up hidden-xs-down">
                                        <img  alt="180 by 150px advertisment" src="http://placehold.it/180x150" class="ad" />
                                    </div>
                                    <div class="hidden-lg-up hidden-sm-down">
                                        <img  alt="250 by 85px advertisment" src="http://placehold.it/250x85" class="ad" />
                                    </div>
                                    <div class="hidden-md-down">
                                        <img  alt="300 by 250px advertisment" src="http://placehold.it/300x250" class="ad" />
                                    </div>




                                    <span class="adgroup-title small">advertisement</span>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



<div class="callouts-region region">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>USNI Quick Links</h4>
                <ul class="quicklinks">
                    <li><a href="#">About the USNI</a></li>
                    <li><a href="#">Books & Press</a></li>
                    <li><a href="#">Naval History Magazine</a></li>
                    <li><a href="#">USNI News</a></li>
                    <li><a href="#">Proceedings Magazine</a></li>
                    <li><a href="#">Oral Histories</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">The Archives</a></li>
                    <li><a href="#">Heritage Foundation</a></li>
                    <li><a href="#">Photos & Historical Prints</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Join the Newsletter</h3>
                <p>Sign up to get updates about new releases and party invites.</p>
                <input type="search" />
                <p><a type="button" class="btn btn-default" href="#">Learn More</a></p>
            </div>
        </div>
    </div>
</div>
<div class="footer-region region">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-image"><img src="../../../../logo-white.png" /></div>
                <p>Copyright &copy; 2017 U.S. Naval Institute</p>
                <p><a href="#">Privacy Policy</a>  |  <a href="#">Terms of Use</a>  |  <a href="#">Contact Us</a>  |  <a href="#">Advertise with us</a></p>
            </div>
        </div>
    </div>
</div>



</body>


