{#
/**
 * @file
 * page - Basic Page.
 */
#}


<body>

<header class="header container-fluid test" role="banner">
    <section class="region-header">
        <div class="row header-top">
            <div class="col-xs-12">


                <aside class="branding branding-small">
                    <div class="branding__site-logo">
                        <a href="#" title="Home" rel="home">
                            <img src="../../../../logo.png" alt="Home" />
                        </a>
                    </div>
                </aside>



                <ul class="nav-pills menu nav foundation-nav-secondary">
                    <li class="menu-item small nav-item"><a href="#" class="nav-link">Donate</a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Cart</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-user" aria-hidden="true"></i><span> Login</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-search" aria-hidden="true"></i><span> Search</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row header-bottom">
            <div class="col-xs-12">

                <span class="primary-menu-toggle menu-mobile-icon">Site Menu</span>

                <div class="primary-menu-container">

                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link is-active">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>

                    <a class="primary-menu-toggle btn btn-secondary btn-lg btn-block">Close</a>
                </div>
                <div class="inpage-menu-container">
                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link is-active">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</header>




<div  class="featured-region region featured-region-landing featured-large text-center">
    <div class="container featured-region-content">
        <div class="row">
            <div class="col-md-12">
                <h1 class="sectiontitle">The Heritage Group</h1>
                <p  class="">home to the personal and professional legacies of the sea services in the form of photographic collections, historical and certification documents, oral histories, fine art prints and unique merchandise.</p>

            </div>
        </div>
    </div>
</div>
<div class="region region-callout greyback region-callout-four">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <span class="ctaicon-"><i class="fa fa-picture-o fa-4x" aria-hidden="true"></i></span>
                <h5>Historical Prints and Photo Archive</h5>
                <span class="btn btn-default btn-lg">View the Library</span>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <span class="ctaicon-"><i class="fa fa-picture-o fa-4x" aria-hidden="true"></i></span>
                <h5>Oral History</h5>
                <span class="btn btn-default btn-lg">Listen In</span>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <span class="ctaicon-"><i class="fa fa-picture-o fa-4x" aria-hidden="true"></i></span>
                <h5>Memoirs</h5>
                <span class="btn btn-default btn-lg">Tell your Story</span>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3 text-center">
                <span class="ctaicon-"><i class="fa fa-picture-o fa-4x" aria-hidden="true"></i></span>
                <h5>Publication Archive</h5>
                <span class="btn btn-default btn-lg">Search Archive</span>
            </div>
        </div>
    </div>
</div>




<div class="body-container-region">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-8 col-lg-9 body-region region">

                <h3 class="sectiontitle text-center">Popular Photo Categories</h3>
                <div class="pyramid-grid">

                    <div class="grid-item">
                        <div class="card">


                            <img class="card-img-top" src="../../images/568x320.png" />

                            <div class="card-block">

                                <h4 class="card-title">
                                    <a href="#" rel="bookmark">Title</a>
                                </h4>


                                <p class="card-text">
                                    <a href="#" class="card-link">Read more</a>
                                </p>


                            </div>




                        </div>






                    </div>
                    <div class="grid-item">
                        <div class="card">


                            <img class="card-img-top" src="../../images/568x320.png" />

                            <div class="card-block">

                                <h4 class="card-title">
                                    <a href="#" rel="bookmark">Title</a>
                                </h4>


                                <p class="card-text">
                                    <a href="#" class="card-link">Read more</a>
                                </p>


                            </div>




                        </div>

                        <style>
                            .card {
                                max-width: 568px;
                            }
                        </style>





                    </div>
                    <div class="grid-item">
                        <div class="card">


                            <img class="card-img-top" src="../../images/568x320.png" />

                            <div class="card-block">

                                <h4 class="card-title">
                                    <a href="#" rel="bookmark">Title</a>
                                </h4>


                                <p class="card-text">
                                    <a href="#" class="card-link">Read more</a>
                                </p>


                            </div>




                        </div>

                        <style>
                            .card {
                                max-width: 568px;
                            }
                        </style>





                    </div>


                </div>


            </div>

            <div class="col-md-4 col-lg-3 sidebar-region region fix-on-scroll">
                <div class="block text-center block-adgroup">

                    <div class="hidden-sm-up">
                        <img  alt="250 by 85px advertisment" src="http://placehold.it/250x85" class="ad" />
                    </div>
                    <div class="hidden-md-up hidden-xs-down">
                        <img  alt="180 by 150px advertisment" src="http://placehold.it/180x150" class="ad" />
                    </div>
                    <div class="hidden-lg-up hidden-sm-down">
                        <img  alt="250 by 85px advertisment" src="http://placehold.it/250x85" class="ad" />
                    </div>
                    <div class="hidden-md-down">
                        <img  alt="300 by 250px advertisment" src="http://placehold.it/300x250" class="ad" />
                    </div>




                    <span class="adgroup-title small">advertisement</span>

                </div>

            </div>

        </div>
    </div>
</div>

<div class="body-container-region">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-8 col-lg-9 body-region region">

                <h3 class="sectiontitle text-center">Oral Histories</h3><div class="pyramid-grid">

                    <div class="grid-item">
                        <div class="card">


                            <img class="card-img-top" src="../../images/568x320.png" />

                            <div class="card-block">

                                <h4 class="card-title">
                                    <a href="#" rel="bookmark">Title</a>
                                </h4>


                                <p class="card-text">
                                    <a href="#" class="card-link">Read more</a>
                                </p>


                            </div>




                        </div>

                        <style>
                            .card {
                                max-width: 568px;
                            }
                        </style>





                    </div>
                    <div class="grid-item">
                        <div class="card">


                            <img class="card-img-top" src="../../images/568x320.png" />

                            <div class="card-block">

                                <h4 class="card-title">
                                    <a href="#" rel="bookmark">Title</a>
                                </h4>


                                <p class="card-text">
                                    <a href="#" class="card-link">Read more</a>
                                </p>


                            </div>




                        </div>

                        <style>
                            .card {
                                max-width: 568px;
                            }
                        </style>





                    </div>
                    <div class="grid-item">
                        <div class="card">


                            <img class="card-img-top" src="../../images/568x320.png" />

                            <div class="card-block">

                                <h4 class="card-title">
                                    <a href="#" rel="bookmark">Title</a>
                                </h4>


                                <p class="card-text">
                                    <a href="#" class="card-link">Read more</a>
                                </p>


                            </div>




                        </div>

                        <style>
                            .card {
                                max-width: 568px;
                            }
                        </style>





                    </div>


                </div>


            </div>
        </div>
    </div>
</div>


<div class="callouts-region region">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>USNI Quick Links</h4>
                    <ul class="quicklinks">
                        <li><a href="#">About the USNI</a></li>
                        <li><a href="#">Books & Press</a></li>
                        <li><a href="#">Naval History Magazine</a></li>
                        <li><a href="#">USNI News</a></li>
                        <li><a href="#">Proceedings Magazine</a></li>
                        <li><a href="#">Oral Histories</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">The Archives</a></li>
                        <li><a href="#">Heritage Foundation</a></li>
                        <li><a href="#">Photos & Historical Prints</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Join the Newsletter</h3>
                    <p>Sign up to get updates about new releases and party invites.</p>
                    <input type="search" />
                    <p><a type="button" class="btn btn-default" href="#">Learn More</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-region region">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-image"><img src="../../../../logo-white.png" /></div>
                    <p>Copyright &copy; 2017 U.S. Naval Institute</p>
                    <p><a href="#">Privacy Policy</a>  |  <a href="#">Terms of Use</a>  |  <a href="#">Contact Us</a>  |  <a href="#">Advertise with us</a></p>
                </div>
            </div>
        </div>
    </div>



</body>


