{#
/**
 * @file
 * page - Basic Page.
 */
#}


<body>

<header class="header container-fluid test" role="banner">
    <section class="region-header">
        <div class="row header-top">
            <div class="col-xs-12">


                <aside class="branding branding-small">
                    <div class="branding__site-logo">
                        <a href="#" title="Home" rel="home">
                            <img src="../../../../logo.png" alt="Home" />
                        </a>
                    </div>
                </aside>



                <ul class="nav-pills menu nav foundation-nav-secondary">
                    <li class="menu-item small nav-item"><a href="#" class="nav-link">Donate</a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Cart</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-user" aria-hidden="true"></i><span> Join or Login</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-search" aria-hidden="true"></i><span> Search</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row header-bottom">
            <div class="col-xs-12">

                <span class="primary-menu-toggle menu-mobile-icon">Site Menu</span>

                <div class="primary-menu-container">

                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Books & Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link is-active">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>

                    <a class="primary-menu-toggle btn btn-secondary btn-lg btn-block">Close</a>
                </div>
                <div class="inpage-menu-container">
                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Books & Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link is-active">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</header>

    <div  class="featured-region region">
        <div class="container featured-region-content">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="h1">USNI Conferences & Events</h1>
                    <div class="site-menu-row">

                        <div class="site-menu-row-toggle">Section</div>

                        <ul  class="nav nav-tabs nav-justified site-menu-tabs">
                            <li class="menu-item nav-item">
                                <a href="#" class="nav-link is-active">Upcoming Events</a>
                            </li>
                            <li class="menu-item nav-item">
                                <a href="#" class="nav-link">Past Events</a>
                            </li>
                            <li class="menu-item nav-item">
                                <a href="#" class="nav-link">Events By Type</a>
                            </li>
                            <li class="menu-item nav-item">
                                <a href="#" class="nav-link">For the Media</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="body-container-region">
        <div class="container">
            <div class="row">
                <div class="col-xs-12" style="padding-top: 20px;">

                    <div class="block text-center block-adgroup">

                        <div class="hidden-sm-up">
                            <img alt="250 by 85px advertisment" src="http://placehold.it/250x85" class="ad">
                        </div>
                        <div class="hidden-md-up hidden-xs-down">
                            <img alt="728 by 80px advertisment" src="http://placehold.it/728x80" class="ad">
                        </div>
                        <div class="hidden-lg-up hidden-sm-down">
                            <img alt="970 by 90px advertisment" src="http://placehold.it/970x90" class="ad">
                        </div>
                        <div class="hidden-md-down">
                            <img alt="1280 by 90px advertisment" src="http://placehold.it/1280x90" class="ad">
                        </div>




                        <span class="adgroup-title small">advertisment</span>

                    </div>

                </div>






                <div class="col-xs-12 col-md-8 col-lg-9 body-region region">


                    <h3>Upcoming Events</h3>
                    <div class="card-event-list">
                        <div class="card card-event has-image">
                            <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                            <div class="card-block">

                                <div class="card-datebox">
                                    <span class="day">24</span>
                                    <span class="month">May</span>
                                </div>

                                <span class="card-type">Conference Event</span>

                                <h4 class="card-title">West Conference 2017</h4>

                                <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>

                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <div class="secondary ">
                                    <a href="#" class="btn btn-primary">Event Details</a>
                                    <a href="#" class="btn btn-primary">Register</a>
                                </div>
                            </div>
                        </div>

                        <div class="card card-event has-image">
                            <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                            <div class="card-block">

                                <div class="card-datebox">
                                    <span class="day">24</span>
                                    <span class="month">May</span>
                                </div>

                                <span class="card-type">Conference Event</span>

                                <h4 class="card-title">West Conference 2017</h4>

                                <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>

                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <div class="secondary ">
                                    <a href="#" class="btn btn-primary">Event Details</a>
                                    <a href="#" class="btn btn-primary">Register</a>
                                </div>
                            </div>
                        </div>
                        <div class="card card-event has-image">
                            <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                            <div class="card-block">

                                <div class="card-datebox">
                                    <span class="day">24</span>
                                    <span class="month">May</span>
                                </div>

                                <span class="card-type">Conference Event</span>

                                <h4 class="card-title">West Conference 2017</h4>

                                <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>

                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <div class="secondary ">
                                    <a href="#" class="btn btn-primary">Event Details</a>
                                    <a href="#" class="btn btn-primary">Register</a>
                                </div>
                            </div>
                        </div>
                        <div class="card card-event has-image">
                            <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                            <div class="card-block">

                                <div class="card-datebox">
                                    <span class="day">24</span>
                                    <span class="month">May</span>
                                </div>

                                <span class="card-type">Conference Event</span>

                                <h4 class="card-title">West Conference 2017</h4>

                                <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>

                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <div class="secondary ">
                                    <a href="#" class="btn btn-primary">Event Details</a>
                                    <a href="#" class="btn btn-primary">Register</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="text-xs-center">
                        <nav aria-label="Page navigation">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">4</a></li>
                                <li class="page-item"><a class="page-link" href="#">5</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>




                </div>

                <div class="col-md-4 col-lg-3 sidebar-region region fix-on-scroll">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-12">

                            <div class="card card-article">
                                <div class="card-header">
                                    <h5>Author Events</h5>
                                </div>

                                <div class="card card-event card-event-small">
                                    <div class="card-block">
                                        <div class="card-datebox">
                                            <span class="day">24</span>
                                            <span class="month">May</span>
                                        </div>
                                        <h6 class="card-title">Featured Panelist &amp; Book Signing</h6>
                                        <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>
                                    </div>
                                </div>
                                <div class="card card-event card-event-small">
                                    <div class="card-block">
                                        <div class="card-datebox">
                                            <span class="day">24</span>
                                            <span class="month">May</span>
                                        </div>
                                        <h6 class="card-title">Featured Panelist &amp; Book Signing</h6>
                                        <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>
                                    </div>
                                </div>
                                <div class="card card-event card-event-small">
                                    <div class="card-block">
                                        <div class="card-datebox">
                                            <span class="day">24</span>
                                            <span class="month">May</span>
                                        </div>
                                        <h6 class="card-title">Featured Panelist &amp; Book Signing</h6>
                                        <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>
                                    </div>
                                </div>
                                <div class="card card-event card-event-small">
                                    <a class="btn btn--alt" style="width:100%;" href="#">View All</a>
                                </div>






                            </div>

                        </div>
                        <br/>
                        <div class="col-xs-12 col-sm-6 col-md-12">
                            <div class="card card-article">
                                <div class="card-header">
                                    <h5>Past Events</h5>
                                </div>


                                <div class="card card-event card-event-small">
                                    <div class="card-block">
                                        <h6 class="card-title">Maritme Security Dialog</h6>
                                        <span class="card-location">October 1st, 2016</span>
                                    </div>
                                </div>

                                <div class="card card-event card-event-small">
                                    <div class="card-block">
                                        <h6 class="card-title">Maritme Security Dialog</h6>
                                        <span class="card-location">October 1st, 2016</span>
                                    </div>
                                </div>
                                <div class="card card-event card-event-small">
                                    <div class="card-block">
                                        <h6 class="card-title">Maritme Security Dialog</h6>
                                        <span class="card-location">October 1st, 2016</span>
                                    </div>
                                </div>
                                <div class="card card-event card-event-small">
                                    <a class="btn btn--alt" style="width:100%;" href="#">View All</a>
                                </div>






                            </div>
                        </div>


                    </div>
                </div>





            </div>
        </div>
    </div>
    <div class="callouts-region callouts-region-white region">
        <div class="container">
            <div class="row">



                <div class="col-xs-12">
                    <h3 class="block-title text-center">Our Sponsors</h3>

                    <div class="owl-carousel carousel-sponsor">
                        <img src="http://placehold.it/150x100" />
                        <img src="http://placehold.it/150x100" />
                        <img src="http://placehold.it/150x100" />
                        <img src="http://placehold.it/150x100" />
                        <img src="http://placehold.it/150x100" />
                        <img src="http://placehold.it/150x100" />
                        <img src="http://placehold.it/150x100" />
                        <img src="http://placehold.it/150x100" />
                        <img src="http://placehold.it/150x100" />
                        <img src="http://placehold.it/150x100" />
                        <img src="http://placehold.it/150x100" />
                        <img src="http://placehold.it/150x100" />

                    </div>
                    <br />
                    <p class="text-xs-center"><a class="btn btn--alt btn-selfcall" href="#">Become a Sponsor</a> <a class="btn btn--alt btn-selfcall" href="#">For the Media</a></p>

                </div>


                <script>
                    document.addEventListener("DOMContentLoaded", function(event) {
                        jQuery('.carousel-sponsor').owlCarousel({
                            loop:true,
                            margin:10,
                            nav:true,
                            responsive:{
                                0:{
                                    items: 3
                                },
                                576:{
                                    items:4
                                },
                                768:{
                                    items:4
                                },
                                992:{
                                    items:5
                                }
                                ,
                                1200:{
                                    items:6
                                }
                            }
                        });
                    });
                </script>
            </div>
        </div>
    </div>


    <div class="callouts-region region">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>USNI Quick Links</h4>
                    <ul class="quicklinks">
                        <li><a href="#">About the USNI</a></li>
                        <li><a href="#">Books & Press</a></li>
                        <li><a href="#">Naval History Magazine</a></li>
                        <li><a href="#">USNI News</a></li>
                        <li><a href="#">Proceedings Magazine</a></li>
                        <li><a href="#">Oral Histories</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">The Archives</a></li>
                        <li><a href="#">Heritage Foundation</a></li>
                        <li><a href="#">Photos & Historical Prints</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Join the Newsletter</h3>
                    <p>Sign up to get updates about new releases and party invites.</p>
                    <input type="search" />
                    <p><a type="button" class="btn btn-default" href="#">Learn More</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-region region">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-image"><img src="../../../../logo-white.png" /></div>
                    <p>Copyright &copy; 2017 U.S. Naval Institute</p>
                    <p><a href="#">Privacy Policy</a>  |  <a href="#">Terms of Use</a>  |  <a href="#">Contact Us</a>  |  <a href="#">Advertise with us</a></p>
                </div>
            </div>
        </div>
    </div>



</body>


