{#
/**
 * @file
 * page - Basic Page.
 */
#}


<body>

<header class="header container-fluid test" role="banner">
    <section class="region-header">
        <div class="row header-top">
            <div class="col-xs-12">


                <aside class="branding branding-small">
                    <div class="branding__site-logo">
                        <a href="#" title="Home" rel="home">
                            <img src="../../../../logo.png" alt="Home" />
                        </a>
                    </div>
                </aside>



                <ul class="nav-pills menu nav foundation-nav-secondary">
                    <li class="menu-item small nav-item"><a href="#" class="nav-link">Donate</a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Cart</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-user" aria-hidden="true"></i><span> Join or Login</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-search" aria-hidden="true"></i><span> Search</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row header-bottom">
            <div class="col-xs-12">

                <span class="primary-menu-toggle menu-mobile-icon">Site Menu</span>

                <div class="primary-menu-container">

                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link is-active">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Books & Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>

                    <a class="primary-menu-toggle btn btn-secondary btn-lg btn-block">Close</a>
                </div>
                <div class="inpage-menu-container">
                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link is-active">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Books & Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</header>
<div class="site-menu-row hidden-menu">

    <div class="site-menu-row-toggle">Site Menu</div>

    <ul  class="nav nav-tabs nav-justified site-menu-tabs">
        <li class="menu-item nav-item">
            <a href="#" class="nav-link is-active">Why Join the USNI</a>
        </li>
        <li class="menu-item nav-item">
            <a href="#" class="nav-link">Member Benefits</a>
        </li>
        <li class="menu-item nav-item">
            <a href="#" class="nav-link">Annual Membership</a>
        </li>
        <li class="menu-item nav-item">
            <a href="#" class="nav-link">Life Membership</a>
        </li>
        <li class="menu-item nav-item">
            <a href="#" class="nav-link">Renew</a>
        </li>
    </ul>
</div>


{# /**
    {% block header %}
        {{ header }}
    {% endblock %}
*/ #}

    <div  class="featured-region region member-landing featured-region-landing text-center">
        <div class="container featured-region-content">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="banner-logo-image"><img src="../../../../logo.png" /></div>
                    <h2 class="h1">Join those who dare to read, think, speak, and write</h2>
                    <p><a href="#"><i class="fa fa-5x fa-play-circle" aria-hidden="true"></i></a></p>
                    <p><a href="#" class="btn btn-primary btn-lg  btn-selfcall">Become a Member Today</a> <a href="#" class="btn btn--alt btn-lg btn-selfcall">Member Benefits</a></p>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
    {# /**
    {% block featured %}
        {{ featured }}
    {% endblock %}
    */ #}

    <div class="body-container-region">
        <div class="container">
            <div class="row">

                <div class="col-xs-12 body-region jumbotron-region">

                    <div class="row subregion">
                        <div class="col-xs-12 col-sm-6 no-spacing">
                            <div class="jumbotron">
                                <h2 class="font-weight:900;">Annual Membership</h2>
                                <h5>Join for as little as $5 a month</h5>
                                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique scelerisque nulla sit amet congue.</p>
                                <p><a href="#" class="btn btn-primary btn-selfcall">Become a Member Today</a></p>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 no-spacing">
                            <div class="jumbotron">
                                <h2 class="font-weight:900;">Life Membership</h2>
                                <h5>Solidify your Commitment to the USNI</h5>
                                <p class="small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique scelerisque nulla sit amet congue.</p>
                                <p><a href="#" class="btn btn-primary btn-selfcall">Become a Member Today</a></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>



    {# /**
<div class="body-container-region">
    <div class="container">
        <div class="row">

            {% if sidebar %}
                <div class="col-xs-12 col-md-8 col-lg-9 body-region region">
            {% else %}
                <div class="col-xs-12 body-region region">
            {% endif %}

            {% block content %}
                {{ content }}
            {% endblock %}

        </div>

            {% if sidebar %}
                <div class="col-md-4 col-lg-3 sidebar-region region fix-on-scroll">
                    {% block sidebar %}
                        {{ sidebar }}
                    {% endblock %}
                </div>
            {% endif %}

        </div>
    </div>
</div>
*/ #}



<div class="body-container-region callouts-region-white">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 body-region region">

                <div class="row subregion">
                    <div class="col-xs-12 text-center">
                        <h2 style="padding-bottom: 20px;">Why Join the U.S. Naval Institute</h2>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-center">

                        <p><img src="http://placehold.it/150x150" class="rounded-circle" /></p>

                        <p class="h6">Member Only Discounts</p>
                        <p><a href="#">Learn more</a></p>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-center">

                        <p><img src="http://placehold.it/150x150" class="rounded-circle" /></p>

                        <p class="h6">Exclusive Content Access</p>
                        <p><a href="#">Learn more</a></p>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-center">

                        <p><img src="http://placehold.it/150x150" class="rounded-circle" /></p>

                        <p class="h6">Over 100 years of Naval Discussion</p>
                        <p><a href="#">Learn more</a></p>
                    </div>
                    <div class="col-xs-6 col-sm-3 text-center">

                        <p><img src="http://placehold.it/150x150" class="rounded-circle" /></p>

                        <p class="h6">Preserve the History of the Sea Services</p>
                        <p><a href="#">Learn more</a></p>
                    </div>

                </div>



            </div>


        </div>
    </div>
</div>




<div class="callouts-region callouts-region-white region">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="text-center">
                    <h2>Your Membership Helps to Preserve the Heritage of the Sea Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique scelerisque nulla sit amet congue.</p>
                    <p><a href="#" class="btn btn-primary">Become a Member</a> or <a href="#" class="btn btn-primary">Donate</a></p>
                    <a href="#">Learn about Our Foundation</a>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</div>

    <div class="callouts-region region">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>USNI Quick Links</h4>
                    <ul class="quicklinks">
                        <li><a href="#">About the USNI</a></li>
                        <li><a href="#">Books & Press</a></li>
                        <li><a href="#">Naval History Magazine</a></li>
                        <li><a href="#">USNI News</a></li>
                        <li><a href="#">Proceedings Magazine</a></li>
                        <li><a href="#">Oral Histories</a></li>
                        <li><a href="#">Conferences & Events</a></li>
                        <li><a href="#">The Archives</a></li>
                        <li><a href="#">Donate Today</a></li>
                        <li><a href="#">Photos & Historical Prints</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Looking for Naval History?</h3>
                    <p>Subscribe to the </p>
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-region region">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-image"><img src="../../../../logo-white.png" /></div>
                    <p>Copyright &copy; 2017 U.S. Naval Institute</p>
                    <p><a href="#">Privacy Policy</a>  |  <a href="#">Terms of Use</a>  |  <a href="#">Contact Us</a>  |  <a href="#">Advertise with us</a></p>
                </div>
            </div>
        </div>
    </div>



</body>


