{#
/**
 * @file
 * page - Basic Page.
 */
#}


<body id="front">

<header class="header container-fluid test" role="banner">
    <section class="region-header">
        <div class="row header-top">
            <div class="col-xs-12">


                <aside class="branding branding-small">
                    <div class="branding__site-logo">
                        <a href="#" title="Home" rel="home">
                            <img src="../../../../logo.png" alt="Home" />
                        </a>
                    </div>
                </aside>



                <ul class="nav-pills menu nav foundation-nav-secondary">
                    <li class="menu-item small nav-item"><a href="#" class="nav-link">Donate</a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Cart</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-user" aria-hidden="true"></i><span> Join or Login</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-search" aria-hidden="true"></i><span> Search</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row header-bottom">
            <div class="col-xs-12">

                <span class="primary-menu-toggle menu-mobile-icon">Site Menu</span>

                <div class="primary-menu-container">

                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Books & Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>

                    <a class="primary-menu-toggle btn btn-secondary btn-lg btn-block">Close</a>
                </div>
                <div class="inpage-menu-container">
                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Books & Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</header>




<div  class="featured-region featured-region-landing front-landing">
    <div class="container featured-region-content ">
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-xs-12 col-md-8">

                        <div class="card" style="background: none; border: 0; padding: 20px 0;">

                            <div class="test" style="vertical-align: middle;">

                                <h1 class="hometile">Join those who dare to read, think, speak, and write</h1>
                                <h2 class="homesubtile">We are the United States Naval Institute</h2>

                                <p class="homedesc">With your help, we provide an independent forum for those who dare to read, think, speak, and write to advance the professional, literary, and scientific understanding of sea power and other issues critical to global security.</p>
                                <p><a href="#" class="btn btn-primary  btn-selfcall">Become a Member</a></p>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="body-container-region">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 body-region region">

                <div class="row subregion">
                    <div class="col-xs-12">
                        <div class="grid-1x2x4 grid-hide-small">

                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                                        <span class="card-category-block covered">NAMB</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                                        <span class="card-category-block covered">Archive</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                                        <span class="card-category-block covered">Prof Notes</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                                        <span class="card-category-block covered">Feature</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                                        <span class="card-category-block covered">Editorial</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                                        <span class="card-category-block covered">Dispatch</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                                        <span class="card-category-block covered">Feature</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article card-no-border">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                                        <span class="card-category-block covered">Feature</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>






                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                        </div>


                                    </a>

                                </div>



                            </div>

                        </div>
                    </div>
                </div>








            </div>
        </div>
    </div>
</div>


<div class="body-container-region callouts-region-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">


                <h3 class="block-title text-md-center sectiontitle subregion-title">Breaking News</h3></div>
            <div class="col-xs-12 body-region region">

                <div class="row subregion">
                    <div class="col-xs-12">
                        <div class="grid-1x2x3">

                            <div class="grid-item">
                                <div class="card card-article">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                                        <span class="card-category-block covered">Feature</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>


                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>




                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                            <div class="card-category small">
                                                Naval Fleets
                                            </div>
                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <div class="card card-article">

                                    <a href="#" class="card-link divclick">


                                        <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                                        <span class="card-category-block covered">Feature</span>




                                        <div class="card-block">



                                            <h4 class="card-title">
                                                Article Title
                                            </h4>


                                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>




                                            <div class="card-author ">
                                                Cpt. John Doe
                                            </div>

                                            <div class="card-date ">
                                                October 2016
                                            </div>

                                            <div class="card-category small">
                                                Naval Fleets
                                            </div>
                                        </div>


                                    </a>

                                </div>



                            </div>
                            <div class="grid-item">
                                <h5 class="text-center">More Headlines</h5>
                                <div class="list-group bold-list">
                                    <a href="#" class="list-group-item  list-group-item-action">USNI News Interview: Mel Gibson, Vince Vaughn Talk New Battle of Okinawa Movie ‘Hacksaw Ridge’ <br> <span class="small">Naval Fleets</span></a>
                                    <a href="#" class="list-group-item list-group-item-action">Looking Back - The Children of Ford Island <br> <span class="small">Naval Fleets</span></a>
                                    <a href="#" class="list-group-item list-group-item-action">Armaments &amp; Innovations - The Steam-Powered 'Cat' <br> <span class="small">Naval Fleets</span></a>
                                    <a href="#" class="list-group-item list-group-item-action">U.S. Warship Conducts South China Sea Freedom of Navigation Operation<br> <span class="small">Naval Fleets</span></a>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>



            </div>


        </div>
    </div>
</div>


<div class="body-container-region callouts-region-white">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">


                <h3 class="block-title text-md-center sectiontitle subregion-title">From our Publications</h3></div>
            <div class="col-xs-12 col-sm-6 body-region region">
                <div class="row tablerow subregion">


                    <div class="row" style="margin-right:15px; margin-left:15px;">
                        <div class="col-xs-12 no-spacing">
                            <div class="card card-article card-featured">

                                <a href="#" class="card-link divclick">





                                    <div class="card-block card-block-image-background" style="background: url('../../../../img/fullimage1.jpg') no-repeat center; background-size: cover">


                                        <span class="card-category-block">Cover</span>


                                        <h4 class="card-title">
                                            Article Title That is longer than the rest for testing
                                        </h4>


                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>




                                        <div class="card-author ">
                                            Cpt. John Doe
                                        </div>

                                        <div class="card-date ">
                                            October 2016
                                        </div>

                                        <div class="card-category small">
                                            Proceedings
                                        </div>
                                    </div>


                                </a>

                            </div>


                        </div>

                        <div class="col-xs-12 body-region no-spacing">
                            <div class="list-group">
                                <a href="#" class="list-group-item  list-group-item-action">On Our Scope</a>
                                <a href="#" class="list-group-item list-group-item-action">Contributors</a>
                                <a href="#" class="list-group-item list-group-item-action">Looking Back - The Children of Ford Island</a>
                                <a href="#" class="list-group-item list-group-item-action">In Contact</a>
                                <a href="#" class="list-group-item list-group-item-action">Armaments & Innovations - The Steam-Powered 'Cat'</a>
                                <a href="#" class="list-group-item list-group-item-action">More ...</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 body-region region">
                <div class="row tablerow subregion">

                    <div class="row" style="margin-right:15px; margin-left:15px;">
                        <div class="col-xs-12  no-spacing">
                            <div class="card card-article card-featured">

                                <a href="#" class="card-link divclick">





                                    <div class="card-block card-block-image-background" style="background: url('../../../../img/fullimage1.jpg') no-repeat center; background-size: cover">


                                        <span class="card-category-block">Cover</span>


                                        <h4 class="card-title">
                                            Article Title That is longer than the rest for testing
                                        </h4>


                                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>




                                        <div class="card-author ">
                                            Cpt. John Doe
                                        </div>

                                        <div class="card-date ">
                                            October 2016
                                        </div>

                                        <div class="card-category small">
                                            Naval History
                                        </div>
                                    </div>


                                </a>

                            </div>


                        </div>

                        <div class="col-xs-12 body-region no-spacing">
                            <div class="list-group">
                                <a href="#" class="list-group-item list-group-item-action">On Our Scope</a>
                                <a href="#" class="list-group-item list-group-item-action">Contributors</a>
                                <a href="#" class="list-group-item list-group-item-action">Looking Back - The Children of Ford Island</a>
                                <a href="#" class="list-group-item list-group-item-action">In Contact</a>
                                <a href="#" class="list-group-item list-group-item-action">Armaments & Innovations - The Steam-Powered 'Cat'</a>
                                <a href="#" class="list-group-item  list-group-item-action">More ...</a>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>



<div class="body-container-region featured-region-landing">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 body-region region">


                <div class="row subregion">
                    <div class="col-xs-12">
                        <h2 class="block-title text-md-center sectiontitle subregion-title">Hot off the Press</h2>



                        <div class="row subregion">
                            <div class="col-xs-12 col-md-8 col-lg-9">
                                <h3 class="block-title text-md-center">Featured Books</h3>

                                <div class="owl-carousel bestsellers2">

                                    <div class="card card-book text-center small">



                                        <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                        <div class="card-block">
                                            <div class="itemInfo">
                                                <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                            </div>
                                        </div>

                                    </div>


                                    <div class="card card-book text-center small">



                                        <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                        <div class="card-block">
                                            <div class="itemInfo">
                                                <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                            </div>
                                        </div>

                                    </div>


                                    <div class="card card-book text-center small">



                                        <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                        <div class="card-block">
                                            <div class="itemInfo">
                                                <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                            </div>
                                        </div>

                                    </div>


                                    <div class="card card-book text-center small">



                                        <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                        <div class="card-block">
                                            <div class="itemInfo">
                                                <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                            </div>
                                        </div>

                                    </div>


                                    <div class="card card-book text-center small">



                                        <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                        <div class="card-block">
                                            <div class="itemInfo">
                                                <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                            </div>
                                        </div>

                                    </div>


                                    <div class="card card-book text-center small">



                                        <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                        <div class="card-block">
                                            <div class="itemInfo">
                                                <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                            </div>
                                        </div>

                                    </div>


                                    <div class="card card-book text-center small">



                                        <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                        <div class="card-block">
                                            <div class="itemInfo">
                                                <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                            </div>
                                        </div>

                                    </div>


                                    <div class="card card-book text-center small">



                                        <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                        <div class="card-block">
                                            <div class="itemInfo">
                                                <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                            </div>
                                        </div>

                                    </div>


                                    <div class="card card-book text-center small">



                                        <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                        <div class="card-block">
                                            <div class="itemInfo">
                                                <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                            </div>
                                        </div>

                                    </div>


                                    <div class="card card-book text-center small">



                                        <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                        <div class="card-block">
                                            <div class="itemInfo">
                                                <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                            </div>
                                        </div>

                                    </div>



                                </div>
                                <p class="text-xs-center"><a class="btn btn--alt btn-selfcall" href="#">View All</a></p>
                            </div>

                            <div class="col-xs-12 col-md-4 col-lg-3">

                                <div class="card card-article">
                                    <div class="card-header">
                                        <h4>Author Events</h4>
                                    </div>

                                    <div class="card card-event card-event-small">
                                        <div class="card-block">
                                            <div class="card-datebox">
                                                <span class="day">24</span>
                                                <span class="month">May</span>
                                            </div>
                                            <h6 class="card-title">Featured Panelist &amp; Book Signing</h6>
                                            <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>
                                        </div>
                                    </div>
                                    <div class="card card-event card-event-small">
                                        <div class="card-block">
                                            <div class="card-datebox">
                                                <span class="day">24</span>
                                                <span class="month">May</span>
                                            </div>
                                            <h6 class="card-title">Featured Panelist &amp; Book Signing</h6>
                                            <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>
                                        </div>
                                    </div>
                                    <div class="card card-event card-event-small">
                                        <div class="card-block">
                                            <div class="card-datebox">
                                                <span class="day">24</span>
                                                <span class="month">May</span>
                                            </div>
                                            <h6 class="card-title">Featured Panelist &amp; Book Signing</h6>
                                            <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>
                                        </div>
                                    </div>
                                    <div class="card card-event card-event-small">
                                        <a class="btn btn--alt" style="width:100%;" href="#">View All</a>
                                    </div>






                                </div>

                            </div>


                        </div>



                        <script>
                            document.addEventListener("DOMContentLoaded", function(event) {
                                jQuery('.bestsellers2').owlCarousel({
                                    loop:true,
                                    margin:10,
                                    nav:true,
                                    responsive:{
                                        0:{
                                            items:2
                                        },
                                        576:{
                                            items:3
                                        },
                                        768:{
                                            items:3
                                        },
                                        992:{
                                            items:4
                                        }
                                        ,
                                        1200:{
                                            items:4
                                        }
                                    }
                                });
                            });
                        </script>

                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<div class="body-container-region region-white">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 body-region jumbotron-region region">

                <h2 class="text-center">How can I help?</h2>

                <div class="row subregion">
                    <div class="col-xs-12 col-sm-6 no-spacing">
                        <div class="jumbotron">
                            <h3>Become a Member</h3>
                            <h5>Join for as low as $39.95</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique scelerisque nulla sit amet congue.</p>
                            <p><a href="#" class="btn btn-primary btn-selfcall">Join Now</a></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 no-spacing">
                        <div class="jumbotron">
                            <h3>Donate Today</h3>
                            <h5>Any donation amount is welcome</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique scelerisque nulla sit amet congue.</p>
                            <p><a href="#" class="btn btn-primary btn-selfcall">Donate Now</a></p>
                        </div>
                    </div>
                </div>



            </div>


        </div>
    </div>
</div>
<div class="callouts-region region">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>USNI Quick Links</h4>
                <ul class="quicklinks">
                    <li><a href="#">About the USNI</a></li>
                    <li><a href="#">Books & Press</a></li>
                    <li><a href="#">Naval History Magazine</a></li>
                    <li><a href="#">USNI News</a></li>
                    <li><a href="#">Proceedings Magazine</a></li>
                    <li><a href="#">Oral Histories</a></li>
                    <li><a href="#">Events</a></li>
                    <li><a href="#">The Archives</a></li>
                    <li><a href="#">Heritage Foundation</a></li>
                    <li><a href="#">Photos & Historical Prints</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Join the Newsletter</h3>
                <p>Sign up to get updates about new releases and party invites.</p>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
    <div class="footer-region region">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-image"><img src="../../../../logo-white.png" /></div>
                    <p>Copyright &copy; 2017 U.S. Naval Institute</p>
                    <p><a href="#">Privacy Policy</a>  |  <a href="#">Terms of Use</a>  |  <a href="#">Contact Us</a>  |  <a href="#">Advertise with us</a></p>
                </div>
            </div>
        </div>
    </div>



</body>


