{#
/**
 * @file
 * page - Basic Page.
 */
#}


<body>

<header class="header container-fluid test" role="banner">
    <section class="region-header">
        <div class="row header-top">
            <div class="col-xs-12">


                <aside class="branding branding-small">
                    <div class="branding__site-logo">
                        <a href="#" title="Home" rel="home">
                            <img src="../../../../logo.png" alt="Home" />
                        </a>
                    </div>
                </aside>



                <ul class="nav-pills menu nav foundation-nav-secondary">
                    <li class="menu-item small nav-item"><a href="#" class="nav-link">Donate</a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Cart</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-user" aria-hidden="true"></i><span> Join or Login</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-search" aria-hidden="true"></i><span> Search</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row header-bottom">
            <div class="col-xs-12">

                <span class="primary-menu-toggle menu-mobile-icon">Site Menu</span>

                <div class="primary-menu-container">

                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Books & Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link is-active">Donate</a>
                        </li>
                    </ul>

                    <a class="primary-menu-toggle btn btn-secondary btn-lg btn-block">Close</a>
                </div>
                <div class="inpage-menu-container">
                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Books & Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link is-active">Donate</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</header>

<div  class="featured-region region member-landing featured-region-landing text-center">
    <div class="container featured-region-content">
        <div class="row">

            <div class="col-md-12">
                <div class="banner-logo-image"><img src="../../../../logo.png" /></div>
                <h2 class="h1">Invest in the U.S. Naval Institue</h2>
                <p>For nearly 150 years, the Naval Institute has been the intellectual heart of the naval profession.  It gives voice to those who seek the finest Navy, Marine Corps, and Coast Guard in the world.  At its core, the Institute is an open, independent, nonpartisan forum where those who dare to read, think, speak, and write can take issue with senior positions--not as an act of insubordination, but as a step forward to advance the understanding of sea power and other issues critical to global security.</p>
                <p><a href="#" class="btn btn-primary btn-lg  btn-selfcall">Donate Now</a></p><br />
            </div>
            <div class="col-sm-12">
                <div class="site-menu-row">

                    <div class="site-menu-row-toggle">Section</div>

                    <ul class="nav nav-tabs nav-justified">
                        <li class="menu-item nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Giving Opportunities</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Sponsor Student Memberships</a>
                                <a class="dropdown-item" href="#">Photo Archive Preservation</a>
                                <a class="dropdown-item" href="#">Oral History Program</a>
                                <a class="dropdown-item" href="#">Digital Asset & Infrastructure Software</a>
                                <a class="dropdown-item" href="#">Conferences and Events</a>
                                <a class="dropdown-item" href="#">Essay Contests</a>
                            </div>
                        </li>
                        <li class="menu-item nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Donor Recognition</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Annual Recognition Societies</a>
                                <a class="dropdown-item" href="#">Lifetime Giving Societies</a>
                                <a class="dropdown-item" href="#">Planned Giving Societies</a>
                                <a class="dropdown-item" href="#">Donor Stories</a>
                            </div>
                        </li>
                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link">CoporateOpportunities</a>
                        </li>
                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link">Ways to Give</a>
                        </li>
                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link">Contact Us</a>
                        </li>
                        <li class="menu-item nav-item is-active">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>







<div class="body-container-region">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-md-8 col-lg-9 body-region region">

                <div class="row subregion">
                    <div class="card-event-list">
                        <div class="card card-event has-image">
                            <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                            <div class="card-block">

                                <h4 class="card-title">Program to Support</h4>

                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <div class="secondary ">
                                    <a href="#" class="btn btn--alt">Learn About this Program</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-event-list">
                        <div class="card card-event has-image">
                            <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                            <div class="card-block">

                                <h4 class="card-title">Program to Support</h4>

                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <div class="secondary ">
                                    <a href="#" class="btn btn--alt">Learn About this Program</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-event-list">
                        <div class="card card-event has-image">
                            <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                            <div class="card-block">

                                <h4 class="card-title">Program to Support</h4>

                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <div class="secondary ">
                                    <a href="#" class="btn btn--alt">Learn About this Program</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-event-list">
                        <div class="card card-event has-image">
                            <img class="card-img-top" src="../../../../img/fullimage1.jpg">
                            <div class="card-block">

                                <h4 class="card-title">Program to Support</h4>

                                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                <div class="secondary ">
                                    <a href="#" class="btn btn--alt">Learn About this Program</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>



            </div>

            <div class="col-xs-12 col-md-4 col-lg-3 sidebar-region region">
                <div class="card card-block card-author" style="margin-bottom: 0;">
                    <img class="author-image" alt="300 by 250px advertisment" src="http://placehold.it/250x250">
                    <br />
                    <h4 class="card-title">Donor Name </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc efficitur sed purus id congue. Mauris non convallis nunc. Vivamus vel urna rhoncus, dignissim velit ut, gravida ex. Vestibulum in tellus ultricies, dignissim erat sed, facilisis libero. Vivamus convallis eu dui tempus tempus. Quisque maximus ligula vel purus venenatis convallis.</p>

                </div>
                <div class="card card-block card-footer">
                    <a href="#" class="btn btn-primary">View all Donor Stories</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="callouts-region region-imageback region">
    <div class="container">
        <div class="row">

            <div class="col-md-6">
                <div>
                    <h2>Your Membership Helps to Preserve the Heritage of the Sea Services</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique scelerisque nulla sit amet congue.</p>
                    <p><a href="#" class="btn btn-primary">View our Donor Programs</a></p>
                    <a href="#">Learn more about Our Foundation</a>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><a href="">Memberships for Our Future Leaders</a></li>
                    <li class="list-group-item"><a href="">Proceedings Magazine and the Proceedings Trust</a></li>
                    <li class="list-group-item"><a href="">USNI News</a></li>
                    <li class="list-group-item"><a href="">Digital Asset Management & Infrastructure Software</a></li>
                    <li class="list-group-item"><a href="">Essay Contests</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="body-container-region">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 body-region jumbotron-region region">

                <h2 class="text-center">How can I help?</h2>

                <div class="row subregion">
                    <div class="col-xs-12 col-sm-6 no-spacing">
                        <div class="jumbotron">
                            <h3>Become a Member</h3>
                            <h5>Join for as low as $39.95</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique scelerisque nulla sit amet congue.</p>
                            <p><a href="#" class="btn btn-primary btn-selfcall">Join Now</a></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 no-spacing">
                        <div class="jumbotron">
                            <h3>Donate Today</h3>
                            <h5>Any donation amount is welcome</h5>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris tristique scelerisque nulla sit amet congue.</p>
                            <p><a href="#" class="btn btn-primary btn-selfcall">Donate Now</a></p>
                        </div>
                    </div>
                </div>



            </div>


        </div>
    </div>
</div>

<div class="callouts-region region">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h4>USNI Quick Links</h4>
                <ul class="quicklinks">
                    <li><a href="#">About the USNI</a></li>
                    <li><a href="#">Books & Press</a></li>
                    <li><a href="#">Naval History Magazine</a></li>
                    <li><a href="#">USNI News</a></li>
                    <li><a href="#">Proceedings Magazine</a></li>
                    <li><a href="#">Oral Histories</a></li>
                    <li><a href="#">Conferences & Events</a></li>
                    <li><a href="#">The Archives</a></li>
                    <li><a href="#">Donate Today</a></li>
                    <li><a href="#">Photos & Historical Prints</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Join the Newsletter</h3>
                <p>Sign up to get updates about new releases and party invites.</p>
                <form class="form-inline">
                    <div class="form-group">
                        <label class="sr-only" for="exampleInputEmail3">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="footer-region region">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-image"><img src="../../../../logo-white.png" /></div>
                <p>Copyright &copy; 2017 U.S. Naval Institute</p>
                <p><a href="#">Privacy Policy</a>  |  <a href="#">Terms of Use</a>  |  <a href="#">Contact Us</a>  |  <a href="#">Advertise with us</a></p>
            </div>
        </div>
    </div>
</div>



</body>


