{#
/**
 * @file
 * page - Basic Page.
 */
#}


<body>

<header class="header container-fluid test" role="banner">
    <section class="region-header">
        <div class="row header-top">
            <div class="col-xs-12">


                <aside class="branding branding-small">
                    <div class="branding__site-logo">
                        <a href="#" title="Home" rel="home">
                            <img src="../../../../logo.png" alt="Home" />
                        </a>
                    </div>
                </aside>



                <ul class="nav-pills menu nav foundation-nav-secondary">
                    <li class="menu-item small nav-item"><a href="#" class="nav-link">Donate</a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Cart</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-user" aria-hidden="true"></i><span> Join or Login</span></a></li>
                    <li class="menu-item small nav-item"><a href="#" class="nav-link nav-link-icon"><i class="fa fa-search" aria-hidden="true"></i><span> Search</span></a></li>
                </ul>
            </div>
        </div>
        <div class="row header-bottom">
            <div class="col-xs-12">

                <span class="primary-menu-toggle menu-mobile-icon">Site Menu</span>

                <div class="primary-menu-container">

                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link is-active">Books & Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>

                    <a class="primary-menu-toggle btn btn-secondary btn-lg btn-block">Close</a>
                </div>
                <div class="inpage-menu-container">
                    <ul class="nav-pills menu nav foundation-menu">
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Our Mission</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Membership</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link is-active">Books & Press</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">USNI News</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Proceedings</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Naval History</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Archives</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Events</a>
                        </li>
                        <li class="menu-item small nav-item">
                            <a href="#" class="nav-link">Donate</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </section>
</header>


<div class="featured-region region">
    <div class="container featured-region-content">
        <div class="row">
            <div class="col-md-12">
                <h1 class="h1">Naval Institute Press</h1><div class="site-menu-row">

                    <div class="site-menu-row-toggle">Section</div>

                    <ul class="nav nav-tabs nav-justified">
                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link is-active">New Releases</a>
                        </li>
                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link">Best Sellers</a>
                        </li>
                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link">By Category</a>
                        </li>

                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link">Oral History</a>
                        </li>
                        <li class="menu-item nav-item">
                            <a href="#" class="nav-link">Gifts</a>
                        </li>
                        <li class="menu-item nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">PME</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Course Adoptions</a>
                                <a class="dropdown-item" href="#">Military Reading Lists</a>
                            </div>
                        </li>


                        <li class="menu-item nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">About the Press</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Contact The Press</a>
                                <a class="dropdown-item" href="#">Writing for the Press</a>
                                <a class="dropdown-item" href="#">For the Media</a>
                            </div>
                        </li>
                    </ul>
                </div>
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <img src="http://placehold.it/1200x500" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img src="http://placehold.it/1200x500" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img src="http://placehold.it/1200x500" alt="Third slide">
                        </div>
                    </div>
                    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                        <span class="icon-prev" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                        <span class="icon-next" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>


            </div>
        </div>
    </div>
</div>



<div class="section-search-container-region">
    <div class="container">
        <div class="col-xs-12">
            <form class="form-inline">
                <div class="form-group">
                    <label class="sr-only" for="exampleInputEmail3"><i class="fa fa-2x fa-search" aria-hidden="true"></i> Search</label>
                    <input type="input" class="form-control" id="exampleInputEmail3" placeholder="Search the Press">
                </div>
                <button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i><span class="hide-small">Search</span></button>
            </form>


        </div>

    </div>
</div>




<div class="body-container-region">
    <div class="container">
        <div class="row">






            <div class="col-xs-12 col-md-8 col-lg-9 body-region region">


                <div class="row subregion">
                    <div class="col-xs-12">
                        <h3 class="block-title text-md-center">Featured Books</h3>

                        <div class="owl-carousel bestsellers">

                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>



                        </div>
                        <p class="text-xs-center"><a class="btn btn--alt btn-selfcall" href="#">View All</a></p>
                    </div>
                </div>



                <script>
                    document.addEventListener("DOMContentLoaded", function(event) {
                        jQuery('.bestsellers').owlCarousel({
                            loop:true,
                            margin:10,
                            nav:true,
                            responsive:{
                                0:{
                                    items:2
                                },
                                576:{
                                    items:3
                                },
                                768:{
                                    items:3
                                },
                                992:{
                                    items:5
                                }
                                ,
                                1200:{
                                    items:5
                                }
                            }
                        });
                    });
                </script>
                <div class="row subregion">
                    <div class="col-xs-12">
                        <h3 class="block-title text-md-center">New Releases</h3>

                        <div class="owl-carousel featured">

                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>



                        </div>
                        <p class="text-xs-center"><a class="btn btn--alt btn-selfcall" href="#">View All</a></p>
                    </div>
                </div>



                <script>
                    document.addEventListener("DOMContentLoaded", function(event) {
                        jQuery('.featured').owlCarousel({
                            loop:true,
                            margin:10,
                            nav:true,
                            responsive:{
                                0:{
                                    items:2
                                },
                                576:{
                                    items:3
                                },
                                768:{
                                    items:3
                                },
                                992:{
                                    items:5
                                }
                                ,
                                1200:{
                                    items:5
                                }
                            }
                        });
                    });
                </script>
                <div class="row subregion">
                    <div class="col-xs-12">
                        <h3 class="block-title text-md-center">Clear the Decks</h3>

                        <div class="owl-carousel featured">

                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>


                            <div class="card card-book text-center small">



                                <a href="#"><img class="card-img-top" src="http://placehold.it/120x184" /></a>




                                <div class="card-block">
                                    <div class="itemInfo">
                                        <h4 class="card-title">Billy Mitchells War with the Navy</h4>



                                    </div>
                                </div>

                            </div>



                        </div>
                        <p class="text-xs-center"><a class="btn btn--alt btn-selfcall" href="#">View All</a></p>
                    </div>
                </div>



                <script>
                    document.addEventListener("DOMContentLoaded", function(event) {
                        jQuery('.featured').owlCarousel({
                            loop:true,
                            margin:10,
                            nav:true,
                            responsive:{
                                0:{
                                    items:2
                                },
                                576:{
                                    items:3
                                },
                                768:{
                                    items:3
                                },
                                992:{
                                    items:5
                                }
                                ,
                                1200:{
                                    items:5
                                }
                            }
                        });
                    });
                </script>

            </div>

            <div class="col-md-4 col-lg-3 sidebar-region region fix-on-scroll">
                <div class="block text-center block-adgroup">

                    <div class="hidden-sm-up">
                        <img  alt="250 by 85px advertisment" src="http://placehold.it/250x85" class="ad" />
                    </div>
                    <div class="hidden-md-up hidden-xs-down">
                        <img  alt="180 by 150px advertisment" src="http://placehold.it/180x150" class="ad" />
                    </div>
                    <div class="hidden-lg-up hidden-sm-down">
                        <img  alt="250 by 85px advertisment" src="http://placehold.it/250x85" class="ad" />
                    </div>
                    <div class="hidden-md-down">
                        <img  alt="300 by 250px advertisment" src="http://placehold.it/300x250" class="ad" />
                    </div>




                    <span class="adgroup-title small">advertisement</span>

                </div>
                <div class="card card-article">
                    <div class="card-header">
                        <h4>Author Events</h4>
                    </div>

                    <div class="card card-event card-event-small">
                        <div class="card-block">
                            <div class="card-datebox">
                                <span class="day">24</span>
                                <span class="month">May</span>
                            </div>
                            <h6 class="card-title">Featured Panelist & Book Signing</h6>
                            <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>
                        </div>
                    </div>
                    <div class="card card-event card-event-small">
                        <div class="card-block">
                            <div class="card-datebox">
                                <span class="day">24</span>
                                <span class="month">May</span>
                            </div>
                            <h6 class="card-title">Featured Panelist & Book Signing</h6>
                            <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>
                        </div>
                    </div>
                    <div class="card card-event card-event-small">
                        <div class="card-block">
                            <div class="card-datebox">
                                <span class="day">24</span>
                                <span class="month">May</span>
                            </div>
                            <h6 class="card-title">Featured Panelist & Book Signing</h6>
                            <span class="card-location"><i class="fa fa-map-marker" aria-hidden="true"></i> Annapolis, Maryland</span>
                        </div>
                    </div>
                    <div class="card card-event card-event-small">
                        <a class="btn btn--alt" style="width:100%;" href="#">View All</a>
                    </div>






                </div>
            </div>





        </div>
    </div>
</div>

<div class="callouts-region callouts-region-white region">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 ">






                <h3 class="block-title text-md-center">Popular Categories</h3>
                <br/>
                <div class="row">
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <div class="card card-book text-center small">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/120x184"></a>
                            <div class="card-block">
                                <div class="itemInfo">
                                    <h4 class="card-title">Category</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <div class="card card-book text-center small">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/120x184"></a>
                            <div class="card-block">
                                <div class="itemInfo">
                                    <h4 class="card-title">Category</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <div class="card card-book text-center small">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/120x184"></a>
                            <div class="card-block">
                                <div class="itemInfo">
                                    <h4 class="card-title">Category</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <div class="card card-book text-center small">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/120x184"></a>
                            <div class="card-block">
                                <div class="itemInfo">
                                    <h4 class="card-title">Category</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <div class="card card-book text-center small">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/120x184"></a>
                            <div class="card-block">
                                <div class="itemInfo">
                                    <h4 class="card-title">Category</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <div class="card card-book text-center small">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/120x184"></a>
                            <div class="card-block">
                                <div class="itemInfo">
                                    <h4 class="card-title">Category</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <div class="card card-book text-center small">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/120x184"></a>
                            <div class="card-block">
                                <div class="itemInfo">
                                    <h4 class="card-title">Category</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <div class="card card-book text-center small">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/120x184"></a>
                            <div class="card-block">
                                <div class="itemInfo">
                                    <h4 class="card-title">Category</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <div class="card card-book text-center small">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/120x184"></a>
                            <div class="card-block">
                                <div class="itemInfo">
                                    <h4 class="card-title">Category</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <div class="card card-book text-center small">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/120x184"></a>
                            <div class="card-block">
                                <div class="itemInfo">
                                    <h4 class="card-title">Category</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <div class="card card-book text-center small">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/120x184"></a>
                            <div class="card-block">
                                <div class="itemInfo">
                                    <h4 class="card-title">Category</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-lg-2">
                        <div class="card card-book text-center small">
                            <a href="#"><img class="card-img-top" src="http://placehold.it/120x184"></a>
                            <div class="card-block">
                                <div class="itemInfo">
                                    <h4 class="card-title">Category</h4>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <p class="text-xs-center"><a class="btn btn--alt btn-selfcall" href="#">View All Categories</a></p>


            </div>


        </div>
    </div>
</div>

<div class="callouts-region region">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>Twitter Feed</h4>
                <a class="twitter-grid" data-limit="2" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


            </div>
            <div class="col-md-6">
                <h4>Facebook Feed</h4>
                <a class="twitter-grid" data-limit="2" href="https://twitter.com/TwitterDev/timelines/539487832448843776">National Park Tweets</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


            </div>
        </div>
    </div>
</div>
    <div class="callouts-region region">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h4>USNI Quick Links</h4>
                    <ul class="quicklinks">
                        <li><a href="#">About the USNI</a></li>
                        <li><a href="#">Books & Press</a></li>
                        <li><a href="#">Naval History Magazine</a></li>
                        <li><a href="#">USNI News</a></li>
                        <li><a href="#">Proceedings Magazine</a></li>
                        <li><a href="#">Oral Histories</a></li>
                        <li><a href="#">Conferences & Events</a></li>
                        <li><a href="#">The Archives</a></li>
                        <li><a href="#">Donate Today</a></li>
                        <li><a href="#">Photos & Historical Prints</a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h3>Stay Informed</h3>
                    <p>Sign up to get updates about new releases and party invites.</p>
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Enter email">
                        </div>
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-region region">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-image"><img src="../../../../logo-white.png" /></div>
                    <p>Copyright &copy; 2017 U.S. Naval Institute</p>
                    <p><a href="#">Privacy Policy</a>  |  <a href="#">Terms of Use</a>  |  <a href="#">Contact Us</a>  |  <a href="#">Advertise with us</a></p>
                </div>
            </div>
        </div>
    </div>



</body>


